*{
    padding: 0px;

    margin: 0px;
}

.body{
    font-family: "Poppins", sans-serif;
}

.navbar{
    padding: 10px;
    background-color: aquamarine;
}

.div{
    padding: 10px;
    width: 300px;
    background-color: antiquewhite;
    color: black;
    margin: 20px;
    margin-top: 30px;
    border-radius: 20px;
    display: inline-block;
}

.div h5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn{
    margin-top: 4px;
    margin-bottom: 8px;
    border-radius: 20px;
    border: none;
    background-color: rgb(151, 211, 213);
    width: 70px;
    height: 25px;
}
.btn2{
    background-color: rgb(203, 144, 66);
    border: none;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    font-size: xx-large;
    margin: 10px;
    bottom:50px ;
    right: 50px;
    position: fixed;
    
}
.popup{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    z-index: 1;
    display: none;
    transition: 4s;
}
.popup2{
        background-color: aquamarine;

        width: 500px;
        padding: 40px;
        border-radius: 50px;
        position: absolute;
        top: 20%;
        left: 30%;
        right: 30%;
        z-index: 2;
        display: none;
        transition: 2s;
}

.popup2 h2{
    text-align: center;
    border-top: 30px;
    
    
}

.popup2 input{
    display: block;
    text-align: center;
   padding: 5px;
   margin: 30px;
   margin-left: 25%;
   border-radius: 10px;
   border: none;
}
.popup2 textarea{
    display: block;
    text-align: center;
    padding: 5px;
    margin: 30px;
    margin-left: 25%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    

}
.popup2 button{
 padding-left: 20px;
 padding-right: 20px;
 border: none;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 5px;
 margin-left: 125px;
 border-radius: 10px;
 background-color:rgb(203, 144, 66) ;
 color: white;
}